@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif !important;
}
/* .ant-input-number-handler-wrap {
  display: none;
} */

.ant-input-number-input::placeholder {
  color: #9ca3af !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-number-custom .ant-input-number-input,
.input-number-custom .ant-input-number-input:focus,
.input-number-custom .ant-input-number-input:hover,
.input-number-custom .ant-input-number-input:active {
  background-color: #1f222b !important; /* Background tetap gelap */
  color: white !important; /* Teks tetap putih */
}

.input-number-custom .ant-input-number-input-wrap input {
  background-color: #1f222b !important; /* Background tetap gelap */
  color: white !important; /* Teks tetap putih */
}

.input-number-custom .ant-input-number-focused .ant-input-number-input,
.input-number-custom .ant-input-number-hover .ant-input-number-input {
  background-color: #1f222b !important;
  color: white !important;
}

.input-number-custom .ant-input-number:hover input,
.input-number-custom .ant-input-number:focus input,
.input-number-custom .ant-input-number:active input {
  background-color: #1f222b !important;
  color: white !important;
}

/* .ant-input-number-input:hover {
  color: #9ca3af !important;
} */
/* .ant-input-number-input:focus {
  border: 1px solid #374151;
} */

/* .hover\:bg-\[\#1F222B\]:hover {
  background-color: aqua !important;
} */
